___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [2]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    elif a%2!=0 or b%2!=0:
        return max(a,b)

In [3]:
# Check
lesser_of_two_evens(2,4)

2

In [4]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [13]:
def animal_crackers(text):
    text_list = text.split()
    if len(text_list)==2 and (text_list[0][0] == text_list[1][0]):
        return True
    elif len(text_list) > 2:
        print("Please input only two-word strings!")
        return False
    return False

In [14]:
# Check
animal_crackers('Levelheaded Llama')

True

In [15]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [20]:
def makes_twenty(n1,n2):
    return sum((n1,n2))==20

In [21]:
# Check
makes_twenty(20,10)

False

In [22]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [26]:
def old_macdonald(name):
    return name.capitalize()

In [27]:
# Check
old_macdonald('macdonald')

'Macdonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [46]:
def master_yoda(text):
    text_list = text.split()
    return_string = " "
    return_string = return_string.join(text_list[::-1])
    print(return_string)

In [47]:
# Check
master_yoda('I am home')

home am I

In [48]:
# Check
master_yoda('We are ready')

ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [50]:
print(95 in range(90,100))
def almost_there(n):
    if n in range(90,111) or n in range(190,211):
        return True
    else:
        return False

True

In [51]:
# Check
almost_there(104)

True

In [52]:
# Check
almost_there(150)

False

In [53]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [69]:
def has_33(nums):    
    index=0    
    while(index < len(nums)-1):
        if nums[index]==3 and nums[index+1]==3:            
            return True
        else:            
            index=index+1
    return False

In [70]:
# Check
has_33([1, 3, 3])

True

In [71]:
# Check
has_33([1, 3, 1, 3])

False

In [72]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [95]:
def paper_doll(text):    
    return_string = ""
    for letter in text:
        return_string = return_string + letter*3
        #letters_list.append(letter*3)
    print(return_string)

In [96]:
# Check
paper_doll('Hello')

HHHeeellllllooo

In [97]:
# Check
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [131]:
def blackjack(a,b,c):
    if (a or b or c) not in range(1,12):
        print("Please enter the numbers between 1 and 11!")
        return
    result = sum((a,b,c))
    if result<=21:
        return result
    elif result>21 and (11 in (a,b,c)):
        result = result - 10
    elif result>21:
        return 'BUST'
    return result

In [132]:
# Check
blackjack(5,6,7)

18

In [133]:
# Check
blackjack(9,9,9)

'BUST'

In [134]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [167]:
def sum_list(arr):
    num_sum=0
    for num in arr:
        num_sum=num_sum+num
    return num_sum

def summer_69(arr):
    num_sum=0
    index=0
    six_index=0
    nine_index=0
    while(index < len(arr)):
        if arr[index]==6:
            six_index=index
        elif arr[index]==9:
            nine_index=index
        index=index+1    
    if six_index==0 and nine_index==0:        
        return sum_list(arr)
    else:        
        six_sub_list=arr[0:six_index]        
        if nine_index==len(arr)-1:
            nine_sub_list=[]
        else:
            nine_sub_list=arr[nine_index+1:]        
        final_list=six_sub_list+nine_sub_list        
        return sum_list(final_list)

In [168]:
# Check
summer_69([1, 3, 5])

9

In [169]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [170]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [179]:
def spy_game(nums):
    zero_index=nums.index(0)    
    if (zero_index==0 or zero_index > 0) and (nums[zero_index+1]==0 and nums[zero_index+2]==7):
        return True
    return False

In [180]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [181]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [182]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [11]:
def find_if_prime(num):
    if num<=1:
        return False
    for x in range(2,int(num**0.5)+1):
        if num%x==0:
            return False
    return True

def count_primes(num):
    count=0
    for x in range(0,num):
        if find_if_prime(x):
            count = count + 1
        else:
            pass
    print(f"Number of prime numbers that exist upto {num} are {count}")

In [12]:
# Check
count_primes(100)

Number of prime numbers that exist upto 100 are 25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [15]:
def print_big(letter):
    string_patterns={1:'  *  ',2:' * * ',3:'*****',4:'*   *',5:'*   *'}
    for num in string_patterns.keys():
        print(string_patterns[num])

In [16]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!